self-hosted-ai-starter-kit/n8n/demo-data/workflows/Hacathon final.json
{
  "name": "Hacathon final",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi. I am FinBuddy ready to assist you",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -848,
        96
      ],
      "id": "b05f8f36-0642-4ec0-867b-681c865ffc6f",
      "name": "When chat message received",
      "webhookId": "2fe51813-ac15-4fad-bd8d-ba3f268a6286"
    },
    {
      "parameters": {
        "functionCode": "const sessionId = $json.sessionId || \"default-session\";\nconst userMessage = $json.chatInput?.toLowerCase() || \"\";\n\nreturn [{\njson: {\nroute: userMessage.includes(\"loan\") || userMessage.includes(\"mudra\") ? \"mudra\" : \"content\",\nchatInput: userMessage,\n  sessionId\n}\n}];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -656,
        96
      ],
      "id": "eefcb39d-45f7-4aa4-a7fb-bd215b1501ad",
      "name": "Decide Route"
    },
    {
      "parameters": {
        "functionCode": "const module = $json[\"module\"] || \"Budget Planner\";\nconst prompt = `You are a financial literacy expert and AI content assistant. Help small business owners (SMEs) in India improve their budgeting, funding access, and long-term financial planning.\n\nFor the toolkit 'FinSME', create user-friendly, multilingual content for the module: ${module}.\n\nWrite:\n- A short title\n- A 2-line intro for users with low financial knowledge\n- 3–5 bullet points\n- A user story (2–4 lines)\n- A motivational message\n\nKeep tone friendly, easy, and culturally relevant. Translate-friendly.`;\n\nreturn [{ json: { chatInput: prompt } }];"
      },
      "id": "bb68c04c-5f1d-437f-b90e-421a183ceb35",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const sessionId = $json.sessionId || \"default-session\";\nconst module = $json[\"module\"] || \"Budget Planner\";\nconst prompt = `You are FinBuddy, an AI assistant built to help small-town and rural users in India apply for PMMY (Pradhan Mantri Mudra Yojana) loans.\n\nThe user may speak in English, Hindi, Gujarati or Marathi. Detect the language and respond in the same language.\n\nStep 1: Understand the user's background\nAsk simple and polite questions to gather these details:\n- Name\n- Village/town, district, and state\n- Type of business or work (e.g. tailoring, dairy, kirana shop, service, trading, welding, etc.)\n- Daily or monthly income or wages\n- Whether they already run a business or are starting one\n- Mobile number\n- Aadhaar number (optional)\n\nStep 2: Based on income and business maturity, decide the PMMY loan category:\n- Shishu (for new businesses, up to ₹50,000)\n- Kishore (for growing businesses, ₹50,001 to ₹5 lakh)\n- Tarun (for established businesses, ₹5 lakh to ₹10 lakh)\n\nExplain the benefits of their matching category in their language (Marathi, Hindi, or English).\n\nStep 3: Generate a JSON object for their application draft:\n{\n  \"name\": \"\",\n  \"location\": \"\",\n  \"business_type\": \"\",\n  \"income\": \"\",\n  \"loan_category\": \"Shishu / Kishore / Tarun\",\n  \"loan_amount_requested\": \"\",\n  \"mobile\": \"\",\n  \"aadhaar_number\": \"\"\n}\n\nOnly return the JSON and category name after all information is collected.\nKeep it friendly and local – like you're talking to a neighbor.`;\n\nreturn [{ json: { chatInput: prompt , sessionId} }];"
      },
      "id": "fd7b45a3-5a36-48c4-a61d-8f632da8d441",
      "name": "Prepare Prompt1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        16,
        256
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        320,
        32
      ],
      "id": "51c1679a-9fe8-4921-9871-ae698b4b154a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "text",
        "options": {}
      },
      "id": "a7717b4f-a533-40e3-8ee7-2e57f98c22fc",
      "name": "Respond to Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        896,
        112
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        320
      ],
      "id": "0830834b-f0c1-4a48-b8de-16c236ce456c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Syv1y5XtNrNWKTA5",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        528,
        320
      ],
      "id": "75bdccd2-980b-4ad5-8d5a-c19528b2cfdc",
      "name": "Calculator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4906c2c6-cf2c-4f22-83f0-07451d635ef6",
              "leftValue": "={{ $json.route }}",
              "rightValue": "mudra",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        96
      ],
      "id": "0d5c18d6-847a-4537-9bc6-4dc796ce6864",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        384,
        256
      ],
      "id": "770cec5a-973a-4de6-9ab4-f5c55a71659c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "qWDmZLGBKkw41A18",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Decide Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Route": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "da8ea711-6676-4d32-b2b7-181b843cba03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "F4Bk4qJD3jUj8CFR",
  "tags": []
}