self-hosted-ai-starter-kit/n8n/demo-data/workflows/Hacathon final .json
{
  "name": "Hacathon final",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi. I am FinBuddy ready to assist you",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -992,
        64
      ],
      "id": "b05f8f36-0642-4ec0-867b-681c865ffc6f",
      "name": "When chat message received",
      "webhookId": "2fe51813-ac15-4fad-bd8d-ba3f268a6286"
    },
    {
      "parameters": {
        "functionCode": "const sessionId = $json.sessionId || \"default-session\";\nconst userMessage = $json.chatInput?.toLowerCase() || \"\";\nconst currentAgent = $json.currentAgent || \"FinSuggest\";  // default agent\n\nconst applyKeywords = [\"apply\", \"start application\", \"fill form\", \"pmmy\", \"mudra loan\", \"form\", \"bank\", \"shishu\", \"kishor\", \"tarun\", \"earn\", \"mobile number\"];\nlet newRoute = currentAgent;\n\nif (currentAgent === \"FinSuggest\" && applyKeywords.some(k => userMessage.includes(k))) {\n  newRoute = \"FinChat\";\n}\n\nreturn [{\n  json: {\n    agent: newRoute === \"FinChat\" ? \"Agent-FinChat\" : \"Agent-FinSuggest\",\n    sessionId,\n    chatInput: userMessage,\n    currentAgent: newRoute\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -624,
        64
      ],
      "id": "eefcb39d-45f7-4aa4-a7fb-bd215b1501ad",
      "name": "Decide Route"
    },
    {
      "parameters": {
        "respondWith": "text",
        "options": {}
      },
      "id": "a7717b4f-a533-40e3-8ee7-2e57f98c22fc",
      "name": "Respond to Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1104,
        112
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        320
      ],
      "id": "0830834b-f0c1-4a48-b8de-16c236ce456c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Syv1y5XtNrNWKTA5",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        736,
        320
      ],
      "id": "75bdccd2-980b-4ad5-8d5a-c19528b2cfdc",
      "name": "Calculator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4906c2c6-cf2c-4f22-83f0-07451d635ef6",
              "leftValue": "={{ $json.agent }}",
              "rightValue": "Agent-FinSuggest",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        64
      ],
      "id": "0d5c18d6-847a-4537-9bc6-4dc796ce6864",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        592,
        592
      ],
      "id": "770cec5a-973a-4de6-9ab4-f5c55a71659c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "qWDmZLGBKkw41A18",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        496,
        -128
      ],
      "id": "af5aff65-7361-4c0c-b24f-edffeef279be",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "qWDmZLGBKkw41A18",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "options": {}
      },
      "id": "b5dfb055-d38f-4583-9da7-68b94ae877ec",
      "name": "Respond to Chat1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        896,
        -208
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        608,
        -112
      ],
      "id": "f1e9b10c-e48b-456c-9e83-e643b5ec2b34",
      "name": "Calculator1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        432,
        -368
      ],
      "id": "2a4cf4b3-255f-47c7-8675-69ec5125407c",
      "name": "Agent-FinSuggest"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        416,
        128
      ],
      "id": "51c1679a-9fe8-4921-9871-ae698b4b154a",
      "name": "Agent-FinApply"
    },
    {
      "parameters": {
        "functionCode": "const sessionId = $json.sessionId || \"default-session\";\nconst module = $json[\"module\"] || \"Budget Planner\";\nconst prompt = ` You are a friendly financial advisor helping small business owners in India.\n\nUser Profile:\n{{user_profile}}\n\nPlease suggest 2 or 3 government loan schemes that are most suitable for this user (e.g., PMMY, CGTMSE, Stand-Up India).\n\nFor each scheme, explain in simple language:\n- What the scheme is\n- Why it matches the user's needs\n- Typical loan amount range\n- How to apply (in 2–3 easy steps)\n\nKeep the tone short, friendly, non-technical, and easy to translate into Indian languages. If the user has asked something earlier, continue the conversation naturally.\n`;\n\nreturn [{ json: { chatInput: prompt , sessionId} }];"
      },
      "id": "bb68c04c-5f1d-437f-b90e-421a183ceb35",
      "name": "Scheme Suggestion",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -128,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const sessionId = $json.sessionId || \"default-session\";\nconst module = $json[\"module\"] || \"Budget Planner\";\nconst prompt = `Continue the conversation based on previous messages.You are a digital assistant helping small business owners apply for a PMMY (Pradhan Mantri Mudra Yojana) microloan.\\n\\nContinue from the previous conversation if available. Start a step-by-step interaction to collect these details one by one:\\n1. Full Name\\n2. Gender\\n3. Age\\n4. Aadhar Number\\n5. Business Name\\n6. Business Type and Description\\n7. Start Date of Business\\n8. Loan Amount Needed\\n9. Purpose of the Loan\\n10. Preferred Bank Name and Branch\\n11. Existing Liabilities (if any)\\n\\nOnce complete, output all values in friendly chat format. Keep tone simple and support Indian regional language preference.`;\n\nreturn [{ json: { chatInput: prompt , sessionId} }];"
      },
      "id": "fd7b45a3-5a36-48c4-a61d-8f632da8d441",
      "name": "LoanApplier",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -112,
        304
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        -160
      ],
      "id": "8dd33370-48b7-4e28-ba07-ded9311d3687",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Syv1y5XtNrNWKTA5",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {
    "LoanApplier": [
      {
        "json": {
          "chatInput": "Continue the conversation based on previous messages. If this is a new session, You are FinBuddy, an AI assistant built to help small-town and rural users in India apply for PMMY (Pradhan Mantri Mudra Yojana) loans.\n\nThe user may speak in English, Hindi, Gujarati or Marathi. Detect the language and respond in the same language.\n\nStep 1: Understand the user's background\nAsk simple and polite questions to gather these details:\n- Name\n- Village/town, district, and state\n- Type of business or work (e.g. tailoring, dairy, kirana shop, service, trading, welding, etc.)\n- Daily or monthly income or wages\n- Whether they already run a business or are starting one\n- Mobile number\n- Aadhaar number (optional)\n\nStep 2: Based on income and business maturity, decide the PMMY loan category:\n- Shishu (for new businesses, up to ₹50,000)\n- Kishore (for growing businesses, ₹50,001 to ₹5 lakh)\n- Tarun (for established businesses, ₹5 lakh to ₹10 lakh)\n\nExplain the benefits of their matching category in their language (Marathi, Hindi, or English).\n\nStep 3: Generate a JSON object for their application draft:\n{\n  \"name\": \"\",\n  \"location\": \"\",\n  \"business_type\": \"\",\n  \"income\": \"\",\n  \"loan_category\": \"Shishu / Kishore / Tarun\",\n  \"loan_amount_requested\": \"\",\n  \"mobile\": \"\",\n  \"aadhaar_number\": \"\"\n}\n\nOnly return the JSON and category name after all information is collected.\nKeep it friendly and local – like you're talking to a neighbor.",
          "sessionId": "2f497089938d49ebb81bf5d122b57c9c"
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Decide Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Route": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent-FinApply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Agent-FinApply",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Scheme Suggestion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LoanApplier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent-FinApply",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "main": [
        []
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Agent-FinSuggest",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "Agent-FinSuggest",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent-FinSuggest": {
      "main": [
        [
          {
            "node": "Respond to Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent-FinApply": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheme Suggestion": {
      "main": [
        [
          {
            "node": "Agent-FinSuggest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoanApplier": {
      "main": [
        [
          {
            "node": "Agent-FinApply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat1": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent-FinSuggest",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "badb2e23-b6a2-407d-9d0c-ba18f6398c03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "F4Bk4qJD3jUj8CFR",
  "tags": []
}
