self-hosted-ai-starter-kit/n8n/demo-data/workflows/Insurance.json
{
  "name": "Insurance",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "I'm here to help small businesses like yours with insurance solutions tailored to your needs. Whether you want to learn about coverage options, get a quick quote, or manage your policy, I’ve got you covered. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1424,
        432
      ],
      "id": "59efe4fc-2166-42e5-b9d9-4954b03f387b",
      "name": "When chat message received",
      "webhookId": "85a11bc5-e934-4a78-8ed2-d54b8cdcd114"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        64,
        240
      ],
      "id": "43a6f0bb-a4e7-4770-bd7c-0fb700eabf42",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "gLvOVjQ2rnwgaAyt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "options": {}
      },
      "id": "1bf87f1a-9865-4177-bcad-bf198eb0cd21",
      "name": "Respond to Chat1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        464,
        160
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        176,
        256
      ],
      "id": "b9d213b5-7442-4bcf-914a-3e3d866f6c8b",
      "name": "Calculator1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "7b5231e1-de76-4391-b1b0-da6ee1580555",
      "name": "Agent-FinSuggest"
    },
    {
      "parameters": {
        "functionCode": "const sessionId = $json.sessionId || \"default-session\";\nconst module = $json[\"module\"] || \"Insurance Assistant\";\nconst userMessage = $json.chatInput || $json.input || \"\";\n\n// Dynamic prompt that considers user input and conversation flow\nconst prompt = `You are an intelligent and friendly insurance assistant helping small business owners across India.\n\nUser's current message: \"${userMessage}\"\n\nYour role:\nSuggest the most suitable insurance schemes (government + private) based on the user's business type, scale, location, employee size, and insurance needs.\n\nMultilingual support:\nDetect and respond in the user's preferred language automatically — Hindi, Marathi, Gujarati, or English.\n\nConversation Guidelines:\n- You have access to chat memory, so NEVER repeat questions the user has already answered\n- Progress the conversation naturally based on what information you already have\n- Only ask for missing information that's actually needed\n\nInformation Collection (ask only what's missing):\n1. Name\n2. Mobile number  \n3. Type of business (e.g., kirana store, workshop, tuition center)\n4. Number of employees\n5. Business location (state/city)\n6. Type of insurance needed (health, fire, theft, employee welfare, cyber risk)\n7. Annual turnover or budget range (optional)\n8. Preference for government schemes only or open to private too\n\nResponse Strategy:\n- If user is greeting/starting: Welcome them and ask for basic business info\n- If user provided some info: Acknowledge it and ask for the next missing piece\n- If you have enough info: Suggest 2-4 relevant insurance schemes\n- If user asks about specific schemes: Provide detailed information\n- If user wants application help: Guide them through the process\n\nFor scheme suggestions, include:\n- Scheme Name & Type (Govt/Private)\n- Purpose & What it Covers  \n- Who is Eligible\n- Estimated Premium (if available)\n- How to Apply (with brief process)\n\nKey Insurance Options to Consider:\nGovernment: PMJAY, PMSBY, ESI, PMFBY, CGTMSE, NIRVIK\nPrivate: HDFC Ergo, ICICI Lombard, Tata AIG, Bajaj Allianz\n\nRemember: Keep responses conversational and avoid repeating information already discussed in this session.`;\n\nreturn [{ json: { chatInput: prompt, sessionId } }];"
      },
      "id": "e73ef149-cf7c-456d-a282-dcff687a5345",
      "name": "Scheme Suggestion",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -560,
        368
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -128,
        208
      ],
      "id": "ba8a99bd-5f48-4fcb-9960-1f4309d8874c",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "AnrUf8FADBeQ3kBs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Scheme Suggestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Agent-FinSuggest",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        []
      ]
    },
    "Agent-FinSuggest": {
      "main": [
        [
          {
            "node": "Respond to Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheme Suggestion": {
      "main": [
        [
          {
            "node": "Agent-FinSuggest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent-FinSuggest",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "77f6bb9e-ff47-4a91-9c79-467c64ff9caf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "eU1Qjo2Uxcf2u2RG",
  "tags": []
}